# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# IntelliJ
# ======================
.idea
*.iml
out

# ======================
# VSCode
# ======================
.vscode

# ======================
# Node
# ======================
node_modules
npm-debug.log
yarn-error.log

# ======================
# React build
# ======================
dist
build

# ======================
# Spring Boot / Gradle
# ======================
.gradle
build
target
bin

# ======================
# Logs
# ======================
*.log

# ======================
# Upload files
# ======================
uploads

# ======================
# Environment
# ======================
.env

# ======================
# Application secrets
# ======================
application-local.properties
application-secret.properties

# ======================
# Firebase
# ======================
*firebase*.json
*adminsdk*.json
# ======================
# Database
# ======================
*.sql
*.db

# ======================
# Temp
# ======================
tmp
temp
.cache